:root {
  /* Font management */
  font-family: var(--ibm-plex-sans);
  font-synthesis: none;
  font-size: 20px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  /* Center content to improve legibility */
  max-width: 75ch;
  margin: auto;

  /* Box sizes will include border and paddings */
  box-sizing: border-box;
}

/* Use Serif subfamily on headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--ibm-plex-serif);
}

/* Inherit box sizing to allow rollbacks on any specific section */
*, *::before, *::after {
  box-sizing: inherit;
}
